<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brs.oa.staff.mapper.StaffMapper">
    <!-- 员工基本信息 -->
    <sql id="staffBaseInfo_column">
        department.dept_name  AS deptName,
        staff.dept_no,
        staff.emp_no,
        staff.name,
        staff.email,
        staff.picture,
        staff.gender,
        staff.position,
        staff.mobile
    </sql>
    <!-- 员工详细信息 -->
    <sql id="staffDetailInfo_column">
        staff.login_name,
        staff.picture,
        staff.emp_no,
        staff.name,
        staff.dept_no,
        staff.email,
        staff.birthday,
        staff.hire_date,
        staff.nation,
        staff.politics_status,
        staff.highest_degree,
        staff.marital_status,
        staff.mobile,
        staff.current_address,
        staff.address,
        staff.nation_idcard,
        staff.position,
        staff.gender,
        staff.social_insurance_account AS socialInsuranceAccount,
        staff.hobby,
        staff.emergency_contact AS emergencyContact,
        staff.emergency_contact_phone AS emergencyContactPhone,

        department.dept_name,

        education_record.id  AS  educationRecordId,
        education_record.school_name,
        education_record.start_end_time AS educationStartEndTime,
        education_record.major,
        education_record.diplomas,
        education_record.is_national_unified,


        work_record.id  AS  workExperienceId,
        work_record.start_end_time AS  workStartEndTime,
        work_record.company_name,
        work_record.position AS oldPosition,
        work_record.reason_to_leave,
        work_record.certifier,
        work_record.certifier_mobile,

        train_record.id  AS trainRecordId,
        train_record.start_end_time AS trainStartEndTime,
        train_record.train_agency,
        train_record.train_course
    </sql>

    <sql id="select_staffDetail_sql">
        SELECT
            <include refid="staffDetailInfo_column"></include>
        FROM
            staff
        LEFT  JOIN
            department
        ON staff.dept_no = department.dept_no
        LEFT  JOIN
            education_record
        ON  education_record.staff_emp_no = staff.emp_no
        LEFT  JOIN
        work_record
        ON  work_record.staff_emp_no = staff.emp_no
        LEFT JOIN
            train_record
        ON train_record.staff_emp_no = staff.emp_no
    </sql>
    <sql id="staffDetail_sql_where">
        <trim prefix="WHERE" suffixOverrides="AND | OR">
            <if test="empName != null">staff.name =#{empName} AND</if>
            <if test="deptNo !=null"> staff.dept_no = #{deptNo}</if>
        </trim>
    </sql>



    <resultMap id="staffDetailInfoMap" type="com.brs.oa.staff.vo.StaffDetailInfo" autoMapping="true">
        <id property="empNo" column="emp_no"></id>
        <collection property="educationRecordList" ofType="com.brs.oa.staff.entity.EducationRecord" autoMapping="true">
            <id property="educationRecordId" column="educationRecordId"></id>
        </collection>

        <collection property="workExperienceList" ofType="com.brs.oa.staff.entity.WorkRecord" autoMapping="true">
            <id property="workExperienceId" column="workExperienceId"></id>
        </collection>

        <collection property="trainRecordList" ofType="com.brs.oa.staff.entity.TrainRecord" autoMapping="true">
            <id property="trainRecordId" column="trainRecordId"></id>
        </collection>

    </resultMap>


    <select id="queryStaffAll" resultType="com.brs.oa.staff.vo.SimpleStaffVo">
        SELECT
            <include refid="staffBaseInfo_column"></include>
        FROM
            brs_oa_sys.staff
        LEFT  JOIN
            brs_oa_sys.department
        ON  department.dept_no =staff.dept_no
    </select>


    <select id="queryStaffByDeptNo" resultType="com.brs.oa.staff.vo.SimpleStaffVo">
        SELECT
            <include refid="staffBaseInfo_column"></include>
        FROM
            brs_oa_sys.staff
        LEFT  JOIN
            brs_oa_sys.department
        ON  department.dept_no =staff.dept_no
        WHERE
           department.dept_no = #{deptNo}
    </select>


    <select id="queryStaffByEmpNo" resultType="com.brs.oa.staff.vo.SimpleStaffVo">
        SELECT
            <include refid="staffBaseInfo_column"></include>
        FROM
            brs_oa_sys.staff
        LEFT  JOIN
            brs_oa_sys.department
        ON  department.dept_no =staff.dept_no
        WHERE
           staff.emp_no =#{empNo}

    </select>
    <select id="queryStaffByEmpName" resultType="com.brs.oa.staff.vo.SimpleStaffVo">
        SELECT
            <include refid="staffBaseInfo_column"></include>
        FROM
            brs_oa_sys.staff
        LEFT  JOIN
            brs_oa_sys.department
        ON  department.dept_no =staff.dept_no
        WHERE
            staff.name = #{empName}
    </select>

    <select id="queryStaffDetailByEmpNo" resultMap="staffDetailInfoMap">
        <include refid="select_staffDetail_sql"></include>
        WHERE
        staff.emp_no =#{empNo}
    </select>

    <select id="queryStaffDetailByEmpName" resultMap="staffDetailInfoMap">
        <include refid="select_staffDetail_sql"></include>
        WHERE
            staff.name = #{empName}
    </select>
    <select id="queryStaffDetailByDeptNoAndEmpName" resultMap="staffDetailInfoMap">
        <include refid="select_staffDetail_sql"></include>
        <include refid="staffDetail_sql_where"></include>
    </select>


    <insert id="insert" parameterType="java.util.List">
        INSERT INTO staff
        (emp_no,account)
        VALUES

        <foreach collection="list" item="person" index="index" separator=",">
            <if test="person.empNo != 0">
              (#{person.empNo},#{person.accountName})
            </if>
        </foreach>

        ON DUPLICATE KEY UPDATE
        account = VALUES(account)
    </insert>


    <update id="updateBaseInfoByEmpNo">
        update staff
        left join department
        on staff.dept_no = department.dept_no

        set
         staff.name = #{baseInfo.name},
         staff.gender =#{baseInfo.gender},
         staff.politics_status =#{baseInfo.politicsStatus},
         staff.nation = #{baseInfo.nation},
         staff.hire_date=#{baseInfo.hireDate},
         staff.mobile = #{baseInfo.mobile},
         staff.email = #{baseInfo.email},
         staff.hobby = #{baseInfo.hobby}

        where staff.emp_no =#{baseInfo.empNo}
    </update>
    <update id="updateImportantInfoByEmpNo">

        UPDATE staff
        SET
          staff.highest_degree =#{importantInfo.highestDegree},
          staff.marital_status = #{importantInfo.maritalStatus},
          staff.current_address =#{importantInfo.currentAddress},
          staff.address = #{importantInfo.address},
          staff.nation_idcard = #{importantInfo.nationIdcard},
          staff.social_insurance_account =#{importantInfo.socialInsuranceAccount},
          staff.emergency_contact = #{importantInfo.emergencyContact},
          staff.birthday = #{importantInfo.birthday},
          staff.emergency_contact_phone = #{importantInfo.emergencyContactPhone}
        WHERE staff.emp_no = #{importantInfo.empNo}
    </update>


    <sql id="edu-record-column">
           school_name,
           start_end_time,
           major,
           diplomas,
           staff_emp_no,
           is_national_unified
    </sql>
    <insert id="insertOrUpdateEduRecord">
        insert into education_record
        (
           id,
           school_name,
           start_end_time,
           major,
           diplomas,
           staff_emp_no)
       values(
           #{eduRecord.educationRecordId},
           #{eduRecord.schoolName},
           #{eduRecord.educationStartEndTime},
           #{eduRecord.major},
           #{eduRecord.diplomas},
           #{eduRecord.staffEmpNo})
       ON DUPLICATE KEY UPDATE
          school_name = #{eduRecord.schoolName},
          start_end_time= #{eduRecord.educationStartEndTime},
          major = #{eduRecord.major},
          diplomas= #{eduRecord.diplomas}

    </insert>
    <insert id="insertEduRecord">
        insert into education_record
         (
           school_name,
           start_end_time,
           major,
           diplomas,
           staff_emp_no,
           is_national_unified
          )
         VALUES (
            #{eduRecord.schoolName},
            #{eduRecord.educationStartEndTime},
            #{eduRecord.major},
            #{eduRecord.diplomas},
            #{eduRecord.staffEmpNo},
            #{eduRecord.isNationalUnified}
        )

    </insert>


    <update id="updateEduRecord">
        update  education_record
        set
           school_name = #{eduRecord.schoolName},
           start_end_time =#{eduRecord.educationStartEndTime},
           major = #{eduRecord.major},
           diplomas= #{eduRecord.diplomas},
           is_national_unified = #{eduRecord.isNationalUnified}
          where id = #{eduRecord.educationRecordId}

    </update>


    <delete id="deleteEduRecordById">
        delete  from education_record
        where id =#{id}
    </delete>



    <insert id="insertWorkRecord">
        insert  into work_record
        (start_end_time, company_name, position, reason_to_leave, certifier, certifier_mobile, staff_emp_no)
        values (
        #{workRecord.workStartEndTime},
        #{workRecord.companyName},
        #{workRecord.oldPosition},
        #{workRecord.reasonToLeave},
        #{workRecord.certifier},
        #{workRecord.certifierMobile},
        #{workRecord.staffEmpNo}
        )

    </insert>


    <update id="updateWorkRecord">
        update work_record
        set
           start_end_time =  #{workRecord.workStartEndTime},
           company_name =   #{workRecord.companyName},
           position =   #{workRecord.oldPosition},
           reason_to_leave=  #{workRecord.reasonToLeave},
           certifier =  #{workRecord.certifier},
           certifier_mobile =  #{workRecord.certifierMobile}
        where work_record.id = #{workRecord.workExperienceId}

    </update>


    <delete id="deleteWorkRecord">
        delete  from work_record
        where work_record.id = #{id}
    </delete>


    <insert id="insertTrainRecord">
        insert into train_record
        (start_end_time, train_agency, train_course, staff_emp_no)
        values (
        #{trainRecord.trainStartEndTime},
        #{trainRecord.trainAgency},
        #{trainRecord.trainCourse},
        #{trainRecord.staffEmpNo}
        )


    </insert>

    <update id="updateTrainRecord">
        update  train_record
        set
           train_record.start_end_time = #{trainRecord.trainStartEndTime},
           train_record.train_agency = #{trainRecord.trainAgency},
           train_record.train_course = #{trainRecord.trainCourse}
        where
           train_record.id = #{trainRecord.trainRecordId}



    </update>
    <update id="updateStaffHeaderImg">
        update staff
        set staff.picture =#{imageUrl}
        where emp_no = #{empNo}
    </update>

    <delete id="deleteTrainRecord">
        delete  from train_record
        where train_record.id = #{id}
    </delete>

</mapper>
